@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #081b29;
    color: #ededed;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
    transition: .5s;
}

.logo:hover{
    text-shadow: 0 0 5px #00b7ff,
                0 0 10px #00b7ff,
                0 0 20px #00b7ff,
                0 0 50px #00b7ff;;
}

.navbar a{
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;
}

.navbar a:hover{
    text-shadow: 0 0 5px #00b7ff,
                0 0 10px #00b7ff,
                0 0 20px #00b7ff;
}

.home{
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 0 10%;
}

.home-content{
    max-width: 600px;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.home-content p{
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 20px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover{
    color: #00abf0;
    box-shadow: 0 0 5px #00b7ff,
                0 0 10px #00b7ff,
                0 0 20px #00b7ff,
                0 0 50px #00b7ff;
}

.btn-box a:nth-child(2){
    background-color: transparent;
    color: #00abf0;
}

.btn-box a:nth-child(2):hover{
    color: #00abf0;
}

.btn-box a:nth-child(2)::before{
    background: #ededed;
}

.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ededed;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before{
    width: 100%;
}

.home-soi{
    position: absolute;
    margin-top: 480px;
    width: 230px;
    display: flex;
    justify-content: space-between;
}

.home-soi a{
    display: inline-flex;
    width: 60px;
    height: 60px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.home-soi a:hover{
    background: #ededed;
    box-shadow: 0 0 5px #00b7ff,
                0 0 10px #00b7ff,
                0 0 20px #00b7ff,
                0 0 50px #00b7ff;
}

.imgabs{
    width: 700px;
    position: static;
    margin-left: 300px;
}

.skillpg h3{
    font-size: 35px;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 30px;
    transition: .5s;
}

.skillpg h3:hover{
    text-shadow: 0 0 5px #00b7ff,
                0 0 10px #00b7ff,
                0 0 20px #00b7ff,
                0 0 50px #00b7ff;;
}

.skillbox div img{
    width: 26%;
}

.skillbox{
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-gap: 30px 40px;
    margin: 50px 0px 0px 110px;
    padding-bottom: 150px;
}

.skillcol{
    background-color: #ededed;
    color: #00abf0;
}

.skillcolo{
    background-color: #00abf0;
}

.skillbox div{
    display: flex;
    padding: 10px;
    width: 400px;
    border-radius: 20px;
    margin: 10px;
}

.skillbox div h5{
    padding-left: 10px;
    padding-top: 35px;
    font-size: 19px;
    
}

.projectspg{
    margin-bottom: 100px;
}

.projectspg h3{
    font-size: 35px;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 30px;
    transition: .5s;
}

.projectspg h3:hover{
    text-shadow: 0 0 5px #00b7ff,
                0 0 10px #00b7ff,
                0 0 20px #00b7ff,
                0 0 50px #00b7ff;;
}

.projectsbox div{
    display: block;
    border-radius: 35px;
    width: 1000px;
    padding: 20px 30px 20px 30px;
    margin: 0px 0px 40px 70px;
}

.projectsbox div h4{
    font-size: 20px;
}

.projectsbox div a{
    color: lightblue;
    text-decoration: none;
    font-style: italic;
}

.prleft{
    border: 3px solid #ededed;
} 

.prright{
    border: 3px solid #00abf0;
    position: relative;
    left: 375px;
}

.contactpg{
    background-color: #36454F;
    padding: 25px 0px 25px 25px;
}

.contactpg h3{
    padding-bottom: 15px;
}

.contactpg p{
    padding-bottom: 5px;
}

.contactpg a{
    text-decoration: none;
    color: #ededed;
    font-style: italic;
}

@media (max-width: 523px){
    .home-content h1{
        font-size:40px;
        width: 250px;
    }

    .home-content h3{
        font-size: 20px;
    }
    .home-content p{
        font-size: 13px;
        padding-right: 40px;
        width: 320px
    }

    .btn-box{
        width: 9px;
        height: 500%;
        font-size: 5px;
        padding-right: 80px
    }

    .home-soi{
        padding-bottom: 50px;
        display: flex;
        justify-content: space-around;
    }

    .home-soi a{
        width: 50px;
        height: 50px;
    }

    .skillbox{
        grid-template-columns: repeat(1, 100px);
        margin: 10px;
        padding-bottom: 0px;
    }

    .skillbox div{
        width: 280px;
    }

    .skillbox div h5{
        padding-top: 19px;
    }

    .projectspg{
        margin-bottom: 80px;
    }

    .projectsbox div h4{
        font-size: 12px;
    }

    .projectsbox div p{
        font-size: 10px;
        padding-top: 5px;
    }

    .projectsbox div a{
        font-size: 10px;
    }

    .projectsbox div{
        margin: 20px 20px 10px 20px;
        width: 280px;
    }

    .prright{
        position: relative;
        left: 0px;
    }

    .contactpg a,p{
        font-size: 12px;
    }

}
